---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    {% include navBar.html %}
    <div class="page">

        <section class="hero">
            <div class="overlayBackground">
                <div class="ob2"></div>
            </div>

            <div class="content">
                <div class="contentLeft">
                    <h1>The Mental Health Laboratory</h1>
                    <h2>A next generation assessment platform.</h2>
                    <p>Get to know more about our product.</p>
                    <div class="contentCta">
                        <button>Download Pitch Deck</button>
                        <button>Contact Us</button>
                    </div>
                </div>

                <div class="contentRight">
                    <div class="iphone">
                        <div class="notch"></div>
                        <div class="screen">
                            <img src="/images/mockup.png" alt="Content">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="or">
            OR
        </section>

        <section class="hero">
            <div class="overlayBackground">
                <div class="ob3"></div>
            </div>

            <div class="content">
                <div class="contentLeft">
                    <h1>The Mental Health Laboratory</h1>
                    <h2>A next generation assessment platform.</h2>
                    <p>Get to know more about our product.</p>
                    <div class="contentCta">
                        <button>Download Pitch Deck</button>
                        <button>Contact Us</button>
                    </div>
                </div>

                <div class="contentRight">
                    <div class="iphone">
                        <div class="notch"></div>
                        <div class="screen">
                            <img src="/images/mockup.png" alt="Content">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>